# ludalo config 
# this is TOML syntax

# settings for collector/and to connect to collectors
[collector]
# list of server to start collector on and query
	hosts = [
		"localhost"
	]
	localcollectorPath = "/tmp/collector"
	collectorPath = "/var/tmp/collector"
	maxEntries = 256	# number of entries in the queue between collector and inserter
	port = 1234       	# port for RPC
	interval = 10		# time in seconds to wait between samples		

# settings to connect to Mongo/TokuMX DB
[database]
	server = "localhost"
	name = "ludalo"
