# ludalo config 
# this is TOML syntax

# settings for collector/and to connect to collectors
[collector]
# list of server to start collector on and query
	OSS = [
		"localhost"
	]
	MDS = [
		"localhost"
	]
	localcollectorPath = "/tmp/collector"
	collectorPath = "/var/tmp/collector"
	maxEntries = 256	# number of entries in the queue between collector and inserter
	port = 1234       	# port for RPC
	interval = 10		# time in seconds to wait between samples		
	SnapInterval = 5	# rounding interval for timestamps in database

# settings to connect to Mongo/TokuMX DB
[database]
	server = "localhost"
	name = "ludalo"

# settings for mapping of nids to hostnames
[nidmapping]
	hostfile = "/etc/hosts"
	pattern = "(.*)(-ib)"
	replace = "$1"
